<!DOCTYPE html>

<html class="no-js" lang="en" >

<head> 

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

 
                         <title>Model</title>
      
                          {% block meta %}           
    <meta name="description" content="50 Year Master Plan Traffic Projecty">
                          {% endblock %}
    
          <meta http-equiv="x-dns-prefetch-control" content="on">
          
          
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="50 Year Master Plan Traffic Project>
    
     <!-- google settings -->
     
     
     <!-- bing settings --->
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="50 Year Master Plan Traffic Project">

<!---styles --->

<!---
<link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
--->

<!--- leaflet omninovore: see:https://github.com/mapbox/leaflet-omnivore  --->
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>

<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' type='text/css'>


<link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>



<!-- 
<link rel="stylesheet" href="{{MEDIA_URL}}site_media/css/support-styles.css">
<link rel="stylesheet" href="{{MEDIA_URL}}site_media/css/menu.css">
<link rel="stylesheet" href="{{MEDIA_URL}}site_media/css/grid-min.css">
<link rel="stylesheet" href="{{MEDIA_URL}}site_media/css/bootstrap.min.css">
-->







<!--- end styles --->
</head>

<body>

                  {% block extra_assets %} {% endblock %}
        
                  {% block header %}{% endblock %}
                   
                   
                   {% block nav %}{% endblock %}
   
       
                   {% block notifications %} {% endblock %}


                   {% block content %} {% endblock %}
                   {% block content1 %} {% endblock %}
                   
                   {% block content2 %} {% endblock %}
                   
                   {% block content3 %} {% endblock %}
                   
                   {% block content4 %} {% endblock %}
                   
                   {% block content5 %} {% endblock %}
                   
                   {% block content6 %} {% endblock %}
                   
                   {% block content7 %} {% endblock %}
                   
                   {% block content8 %} {% endblock %}
                   
                   {% block content9 %} {% endblock %}
                   
                   {% block content10 %} {% endblock %}
                   
                       </div>
                         
                   {% block footer %}{% endblock %}
               

{% block js %}
<!-- Le javascript
    ================================================== -->

  

{% endblock %}

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
                <script data-no-instant>InstantClick.init('mousedown');</script>


    </body>
</html>
