                                       {% extends "section_base.html" %}
                                                                                
                                                                                 
                                                                                
                                                                                
                                             {% block content %}
                                                                                
                                          <h3> Section Loading </h3>
                                          
                                          <div class="quick-links">
<a class="header-link"  href="{% url 'index' %}"> Home </a> <a class="header-link"  href="{% url 'downloads' %}"> Downloads </a><a class="header-link"  href="{% url 'logout' %}">Logout </a>
                                         </div>
                                                                                
                                               {% if object_list %}
                                             <div class="content">
                                          <div class="table-responsive">
             <table class="table table-striped table-condensed table-bordered table-hove table-fixedr">
            
                                                   <thead> 
                                          <tr class="success header sticky"> 
                                               
                                             <th>Origin County </th> 
                                            <th>Origin Centriod </th>  
                                           <th>Terminating County </th> 
                                         <th>Terminating Centriod </th>
                                                 <th>Distance </th>
                                               <th> 2013 - 2014 </th>
                                                <th>2014 - 2015 </th>
                                                <th>2019 - 2020 </th>
                                               <th>2024 -2025 </th>
                                              <th>2029 - 2030 </th>
                                              <th>2034 - 2035 </th>
                                               <th>2044 - 2045 </th>
                                               <th>2054 - 2055 </th>
                                               <th>2064 - 2065 </th>
           
            
                                                     </tr> 
                                                      </thead> 
                                                                             
                                              {% for obj in object_list %}
                                
                                                    <tbody> 
                                            <tr class="pure-table-odd">
                           
                                          <td>{{ obj.origin_county }}</td>
                                         <td>{{ obj.origin_centriod }}</td>
                                        <td>{{ obj.terminating_county }}</td>
                                       <td>{{ obj.terminating_centriod }}</td>
                                             <td>{{ obj.distance }}</td>
                                             <td>{{ obj.stage_0 }}</td>
                                             <td>{{ obj.stage_1 }}</td>
                                             <td>{{ obj.stage_2 }}</td>
                                             <td>{{ obj.stage_3 }}</td>
                                             <td>{{ obj.stage_4 }}</td>
                                             <td>{{ obj.stage_5 }}</td>
                                             <td>{{ obj.stage_6 }}</td>
                                              <td>{{ obj.stage_7 }}</td>
                                              <td>{{ obj.stage_8 }}</td>
                                                       </tbody>
                                                        </tr>
                                                      {% endfor %}
                                                        </div>
                                                       </div>
                                                       
                                                 <div class="row center">
                                           {% include "obj_pagination.html" %}
                                                      </div>
                                              
                                                      {% else %}
                                                 <div class="row center">
		           <h2 class="header col s12 light">No data available for display</h2>
					                 </div>
                                                       {% endif %}
                                                                                
                                                                                
                                                       {% endblock %}
                                                                                       
                                                                                       
                                                                                       
                                                                                       
